.booking {
  padding: 25px 75px 65px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__info {
    width: 525px;
    height: fit-content;
  }

  &__title {
    padding-bottom: 15px;
    margin-bottom: 18px;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
  }

  &__input {
    width: 258px;
    height: 56px;
    padding: 10px;

    color: #757575;
    background-color: #E5E5E5;
    border: none;
    border-radius: 5px;
  }

  &__button {
    grid-column: 1 / span 2;
    width: auto;
  }

  &__image {
    margin-left: 20px;
    margin-right: 60px
  }

  &__footer {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 240px);

    font-weight: normal;
    color: rgba(51, 51, 51, 0.5);
  }

  &__footer-strong {
    font-weight: 700;
  }

  @media screen and (max-width: 1200px) {
    padding: 25px 20px 65px 60px;
    justify-content: space-between;

    &__info {
      width: 470px;
      height: fit-content;
    }

    &__input {
      width: 230px;
      height: 46px;
    }
  }
}