@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.ttf") format('ttf'),
       url("../fonts/opensans.woff") format('woff'),
       url("../fonts/opensans.woff2") format('woff2');
}

@font-face {
  font-family: "Banny";
  src: url("../fonts/Banny-BoldRound.woff") format('woff'),
}