.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 75px;

  &__list {
    display: flex;
  }

  &__item {
    width: 124px;
    margin: 40px 0;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
  }

  &__item-link {
    text-decoration: none;
    color: $main-color;

    transition: color 300ms;

    &:visited {
      color: $main-color;
    }

    &:hover {
      color: $accent-color;
    }
  }

  &__toggler-label {
    display: none;
    position: relative;
    top: 10px;
    color: $main-color;
    z-index: 2;
  }

  &__toggler-label::before {
    content: "\2630";
    font-size: 24px;

    color: $main-color;
  }

  &__toggler:checked ~ &__toggler-label::before {
    content: "x";
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;

    color: $main-color;

  }

  &__toggler {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    &__item {
      width: 80px;
      margin: 40px 0;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 0 30px;

    &__item {
      width: 70px;
    }
  }

  @media screen and (max-width: 700px) {
    &__toggler-label {
      display: inline-block;
    }
  
    &__list {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 50%;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
  
      background-color: black;
      z-index: 1;
    }

    &__list:nth-of-type(2) {
      right: 0;
      left: unset;
    }
  
    &__toggler:not(:checked) ~ &__list {
      transform: translate(-200%, 0);
    }
  }
}