.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 75px;

  &__list {
    display: flex;
  }

  &__item {
    width: 124px;
    margin: 40px 0;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
  }

  &__item-link {
    text-decoration: none;

    transition: color 300ms;

    &:visited {
      color: $main-color;
    }

    &:hover {
      color: $accent-color;
    }
  }

  @media screen and (max-width: 1200px) {
    &__item {
      width: 80px;
      margin: 40px 0;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 0 30px;

    &__item {
      width: 70px;
    }
  }
}