* {
  box-sizing: border-box;
}

html {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;

  scroll-behavior: smooth;
}

html,
body,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
}